{% extends 'base.html' %}
{% block content %}
<h1> Athletes </h1>
<table>
    <tr>
        <th>Name</th>
    </tr>
    <!-- new athlete link -->
    <td>
    
        <button type="button" onclick="window.location.href='/athletes/new'">New athlete</button>

    </td>

    {% for athlete in athletes %}
    <tr>
        <td>
            <a href="/athletes/{{ athlete.id }}"> {{athlete.name}}</a> 
            
            <form action="/athletes/{{ athlete.id }}/edit">
                <button>Edit</button>
                </form>
        </td>
    </tr>
   
    {% endfor %}
</table>
{% endblock %}

