{% extends 'base.html' %}
{% block content %}

<form action="/participation" method = "post">
    <label for="athlete"> Select an athlete:</label>

    <select name="athlete_id" id="athlete"> {% for name in athlete %}
        <option value="{{ athlete.id}} ">{{ athlete.name }} </option>
        {% endfor %}
    </select>

    <label for="event">Select an event:</label>
    <select name="event.id" id="event">{% for event in events %}
        <option value="{{ event.id }}" > {{ event.name }} </option>
        {% endfor %}
    </select>

    <label for="position">Add a Position</label>
    <textarea name="position" id="position" cols="30" rows="1"></textarea>
    <input type="submit" value="Participation">
</form>

{% endblock %}