header {
  display: flex;
  align-items: center;
}

/* Navigation */
nav ul {
  /* Remove bullet points */
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 19.92px;
  color: black;
  grid-area: nav;
}

nav ul li button:hover {
  /* Style for hovering over links */
  padding: 3px;
  font-family: sans-serif;
  color: black;
  background-color: lightgray;
}

nav ul li button {
  /* Style for hovering over links */
  padding: 6px;
  font-size: ;
  font-family: sans-serif;
  color: black;
  background-color: salmon;
  border-radius: 5mm;
}

/* Headline */
header > h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: left;
  grid-area: title;
  text-align: center;
  font-size: 15mm;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: left;
  grid-area: title;
  text-align: center;
  font-size: 10mm;
}

p > button {
  font-size: 6mm;
}



@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.home-btn:hover {
  background-color: #f1f1f1;
  color: #ee8a14;
  font-size: 1.4rem;
  transition: 0.2s;
  cursor: pointer;
  animation: spin 1s linear infinite;
  font-size: 15mm;
}

/* .submit-btn {
  background-color: #f1f1f1;
  color: #ee8a14;
  border: 5mm;
  border-radius: 2mm;
  font-size: 1.4rem;
  transition: 0.2s;
  cursor: pointer;
}

  .submit-btn:hover {
    padding: 3px;
    font-family: sans-serif;
    color: black;
    background-color: lightgray;
    } */

  th {
    padding: 3px;
    font-size: ;
    font-family: sans-serif;
    color: black;
  }

  td {
    padding: 3px;
    font-size: ;
    font-family: sans-serif;
    color: black;
    
  }
  
  h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 3px;
    font-family: sans-serif;
    color: black;
  }
  
  ul {
    font-size: 6mm;
    text-decoration: none;
  }

  header button {
    font-size: 10mm;
  }

  select, label, input, form {
    font-size: 8mm;
  }

  aside ul {
    list-style: none;
    background-color: rgba(168, 213, 230, 0.5);
    font-size: 6mm;
    border-radius: 5mm;
    margin: 2mm;
    width: fit-content;
  }

  
  body {
    background: url("https://tinyurl.com/2p8ue8zm") ;
    background-size: 150% ;
  }
  
  p, th, td {
    font-size: 5mm;
    line-height: 4mm;
    padding: 1mm;
  }

  table {
    background-color: rgba(168, 213, 230, 0.5);
    border-radius: 5mm;
  }
  
  ol {
    font-size: 6mm;
  }

  h3 {
    font-size: 8mm;
  }

  td button {
    font-size: 5mm;
    text-align: right;
  
  }

  textarea {
    font-family: Arial, sans-serif;
    font-size: 5mm;
    color: #333;
  }

  aside div {
    display: flex;
  }

  p div {
    display: flex;
  }

  p button:hover, td button:hover {
    /* Style for hovering over links */
    padding: 3px;
    font-family: sans-serif;
    color: black;
    background-color: lightgray;
  }
  
  p button, td button {
    /* Style for hovering over links */
    padding: 6px;
    font-size: ;
    font-family: sans-serif;
    color: black;
    background-color: rgb(183, 210, 139);
    border-radius: 5mm;