<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Event Manager</title>
</head>
<body>
    <h1 id="grid-container">Event Manager</h1>
<main>
    <nav id="grid-container">
        <ul>
            <li>
                <li><a href="/">Home</a></li>
            </li>
            <li>
                <a href="/events">Events</a>
            </li>
            <li>
                <a href="/athletes">Athletes</a>
            </li>
            <li>
                <a href="/participation">Participation</a>
            </li>
        </ul>
    </nav>
    <section>
        {% block content%}

        {% endblock %}
    </section>
</main>
</body>
</html>