<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Event Manager</title>
</head>
<body>
<header>
    <h1 id="grid-container">Event Manager</h1>

    <nav id="grid-container">
        <ul>
            <li>
                <li> <button type="button" onclick="window.location.href='/'"  class="home-btn">Home</button></li>
               
            </li>
            <li>
                <button type="button" onclick="window.location.href='/events'"  >Events</button>
            </li>
            <li>
                <button type="button" onclick="window.location.href='/athletes'"  >Athletes</button>
            </li>
        </ul>
    </nav>
</header>
<main>
    <section>
        {% block content%}

        {% endblock %}
    </section>
</main>
</body>
</html>