{% extends 'base.html' %}
{% block content %}
<h1> Events </h1>
<table>
    <tr>
        <th>Name</th>
        <th>Sport</th>
    </tr>
    <!-- new athlete link -->
    <td>
        
        <button type="button" onclick="window.location.href='/events/new'">New event</button>

    </td>
    

    {% for event in events %}
    <tr>
        <td>
            <a href="/events/{{ event.id }}"> {{event.name}} </a>
        </td>
        <td> {{ event.sport }}</td>
        <td>
            <button type="button" onclick="window.location.href='/events/{{ event.id }}/edit'">Edit event</button>
    
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}